@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="WebPage1.cshtml" method="post">
        Name: <input type="text" name="name" value="" />
        <br />
        Birthdate: <input type="date" name="birthdate" value="" />
        <br />
        <input type="submit" value="Go" />
        <input type="checkbox" name="check" value="IsGraduated" />Is Graduated
    </form>

</body>
</html>
