@using WebApplication1.Models;

@{
    ViewBag.Title = "GetAllCars";
    List<Car> carList = ViewBag.Cars;
}

<h2>Get All Cars</h2>

<a href="/Car/CreateNewCar">Add New Car</a>

<div>
    <table>
        <tr>
            <th>Num</th>
            <th>Color</th>
            <th>Model</th>
            <th>Manfacture</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>

        @foreach (var item in carList)
        {
            <tr>
                <td>@item.Num</td>
                <td>@item.Color</td>
                <td>@item.Model</td>
                <td>@item.Manfacture</td>
                <td><a href="/Car/SelectCarById/@item.Num">Select</a></td>
                <td><a href="/Car/UpdateCar/@item.Num">Edit</a></td>
                <td><a href="/Car/DeleteCar/@item.Num">Delete</a></td>
            </tr>
        }
    </table>
    
</div>