body{
    text-align: center;
}
#video{
    position: relative;
}
#videoSlide{
    position: absolute;
    top: 62%;
    left: 30.8%;
    width: 38.3%;
}
#time{
    position: absolute;
    top: 70%;
    left: 30%;
    width: 38.3%;
}
#totalTime{
    position: absolute;
    top: 70%;
    left: 35%;
    width: 38.3%;
}